$tabBackground: #f8f3f8;
$tabActiveBackground: #f8f3f8;
$activeText: #2d96c4;
$price: #cc3b1e;
$border-color: rgb(75, 90, 102);
$box-shadow: #d1c0d1;
$tdHover: #fff8f7;

.table-main {
  border: none;
  border-right: solid 1px $border-color;
  border-collapse: separate;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}

.table-main thead th {
  background-color: #f8f3f8;
  border: none;
  color: #333;
  padding: 10px;
  text-align: left;
  min-height: 45px;
}
.table-main tbody td {
  border-bottom: solid 1px $border-color;
  color: #333;
  @extend .font-bold;
  padding: 10px;
  min-height: 90px;
}
.table {
  position: relative;
}
.table-scroll {
  margin-left: 131px;
  overflow-x: scroll;
  overflow-y: visible;
  padding-bottom: 5px;
  width: 300px;
}

.table-main .fix-col {
  border-left: solid 1px $border-color;
  left: 0;
  position: absolute;
  top: auto;
  width: 110px;
  box-shadow: 4px 0 5px -2px $box-shadow;
}
.table-img {
  height: 41px;
}
.title-color {
  @extend .font-bold;
  color: $activeText;
}
tr:hover {
  background-color: $tdHover;
}
.price {
  @extend .font-bold;
  color: $price;
}
.font-bold {
  font-weight: bold;
}
tr:first-child > td {
  background-color: $tdHover;
  border-top: 1px solid $price;
  border-bottom: 1px solid $price !important;
}
/*scroll bar*/
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: $tabBackground;
}
::-webkit-scrollbar-thumb:hover {
  background: $tabActiveBackground;
}
