<div class="table">
    <div class="table-scroll">
        <table class="table-main">
            <thead>
                <tr>
                    <th class="fix-col"> &nbsp;</th>
                    <th></th>
                    <th *ngFor="let header of tableHeaders">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of tableData">
                    <td class="fix-col">
                        <div class="title-color">{{row.title}}</div>
                        <div>From</div>
                        <div class="price">$9700</div>
                    </td>
                    <td> <img src="{{row.img}}" alt="img" class="table-img"></td>
                    <td>
                        <star-rating value="5" totalstars="5" checkedcolor="#f9bc17" uncheckedcolor="black" size="16px"
                            readonly="true" (rate)="onRate($event)"></star-rating>
                    </td>
                    <td>{{row.display}}</td>
                    <td>{{row.faceId}}</td>
                    <td>{{row.camera}}</td>
                    <td>{{row.vidoes}}</td>
                    <td>{{row.chip}}</td>
                    <td>{{row.compatability}}</td>
                    <td>{{row.conector}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>